.is-invalid .select2-container--default .select2-selection--multiple {
	border-color: #ee184d !important;
}

.is-invalid .select2-container--default .select2-selection--multiple,
.is-invalid .select2-container--default .select2-selection--single {
	border-color: #ee184d !important;
}

.is-valid .select2-container--default .select2-selection--multiple {
	border-color: #2fb779 !important;
}

.is-valid .select2-container--default .select2-selection--multiple,
.is-valid .select2-container--default .select2-selection--single {
	border-color: #2fb779 !important;
}

.swal2-popup {
	width: 400px !important
}

.frm {
	border-radius: 0px !important;
}

.sidebar-link {
	text-decoration: none !important;
}

.table.dataTable thead {
	background-color: #6c757c;
	color: white;
}

.btn-group.special {
	display: flex;
}

.special .btn {
	flex: 1
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	background-color: #97a1af00 !important;
	border-color: #2255a4;
	color: #000 !important;
}

.cropper-container {
	margin: 0 auto 20px auto;
}

input[type=color].form-control {
	height: 35px !important;
}

@media screen and (max-width: 767px) {

	.dataTables_info,
	.dataTables_paginate,
	.dataTables_length,
	.dataTables_filter {
		text-align: right !important;
	}

	.header-table {
		display: block !important;
	}
}
