<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/Layout"
  xmlns:th="http://www.ultraq.net.nz/thymeLeaf.org" layout:decorate="~{shared/main_layout.html}">

<body>
  <div layout:fragment="content">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center header-table">
          <h4 class="page-title">MANAGE RESERVATION</h4>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  Home</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="ecommerce-widget">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <div class="float-right">
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModalLong">FILTER</button>
                  <a href="/dashboard/create" class="btn btn-secondary">CREATE</a>
                </div>
              </div>
              <div class="card-body order-datatable">
                <table id="dataTable" class="dataTable table table-striped table-bordered" style="width:100%">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Room</th>
                      <th>Arrival Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="data : ${data}">
                      <td th:text="${data.name}"></td>
                      <td th:text="${data.room.category.name}"></td>
                      <td th:text="${data.room.name}"></td>
                      <td th:text="${#dates.format(data.fromDate, 'dd-MM-yyyy')}+' - '+${#dates.format(data.toDate, 'dd-MM-yyyy')}"></td>
                      <td>
                        <div class="text-center">
                          <div class="btn-group">
                            <a th:href="@{'/dashboard/detail?idData='+${data.id}}" class="editor_edit btn btn-success"><i
                                class="fa fa-eye text-white"></i></a>
                            <a th:href="@{'/dashboard/update?idData='+${data.id}}" class="editor_edit btn btn-warning"><i
                                class="fa fa-edit text-white"></i></a>
                            <div th:onclick="|onDelete('${data.id}')|" class="editor_edit btn btn-danger"><i
                                class="fa fa-trash text-white"></i></div>
                          </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal Filter</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <div class="col-lg-12">
                  <label class="form-control-label">Category</label>
                  <div class="">
                      <select class="form-control frm select2" id="category" name="category" style="width: 100%">
                          <option value="ALL">ALL</option>
                          <option th:each="category : ${category}" th:value="${category.id}"
                              th:text="${category.name}">
                          </option>
                      </select>
                  </div>
              </div>            
            </div>
            <div class="form-group row">
              <div class="col-lg-12">
                  <label class="form-control-label">Room</label>
                  <div class="">
                      <select class="form-control frm select2" id="roomId" name="roomId" style="width: 100%">
                        <option value="ALL">ALL</option>
                      </select>
                  </div>
              </div>
          </div>            
            <div class="form-group row">
              <div class="col-lg-12">
                <label class="form-control-label">From date</label>
                <input maxlength="30" type="date" name="fromDate" id="fromDate" class="form-control frm" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-12">
                <label class="form-control-label">To date</label>
                <input maxlength="30" type="date" name="toDate" id="toDate" class="form-control frm" placeholder="">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="onFilter()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      var grid;
      $(document).ready(function () {
        $('#roomId').select2({
          placeholder: "Please select a option"
        }).on("change", function (e) { });
        $('#category').select2({
          placeholder: "Please select a option"
        }).on("change", function (e) {
          var data = $('#category').select2('data')[0]
          realoadRoom(data.id);
        });
        grid = $('#dataTable').DataTable({
          columnDefs: [{ orderable: false, targets: [4] },]
        });
      })
      function onFilter() {
        var fromDate = new Date($("#fromDate").val());
        var toDate = new Date($("#toDate").val());
        if (toDate <= fromDate) {
          iziToast.warning({
            title: 'Warning',
            message: "To date must bigger from date",
            position: 'topRight'
          });
          return false
        }
        grid.clear().draw();
        grid.row.add(['Fiona White', 32, 'Edinburgh', 'Edinburgh', 'Edinburgh', 'Edinburgh']).draw();
      }
      function onDelete(id) {
        deleteData('/dashboard/delete?idData=' + id)
      }
      function realoadRoom(room) {
        var option = $("#roomId")
        if (room != "ALL") {
          $.ajax({
            url: '/room/get-by-category?idCategory=' + room,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (e) {
              option.empty()
              option.append("<option value='ALL'>" + "-ALL-" + "</option>");
              e.map(function (e) {
                option.append("<option price=\"" + e.category.price + "\" value=\"" + e.id + "\">" + e.name + "</option>");
              })
              option.val("").trigger("change");
            },
            beforeSend: function () {
              var loading = $('<option selected>Loading...</option>').val("");
              option.append(loading);
            },
            error: function (e) {
              swal.close();
              iziToast.error({
                title: 'Warning',
                message: "Bad Request",
                position: 'topRight'
              });
            }
          });
        } else {
          option.empty()
          option.append("<option value='ALL'>" + "-ALL-" + "</option>");
          option.val("").trigger("change");
        }
      }

    </script>
  </div>
</body>

</html>